extends layout

block content
  #container
  form#form(name='form' action='/' method='post')
    center
      #logo #{title}
      #space
      #form
        button.button.button1(name='vote' value=button1 onclick='send()') #{button1}
        button.button.button2(name='vote' value=button2 onclick='send()') #{button2}
        button.button.button3(name='vote' value='reset' onclick='send()') Reset
        #space
        #space
        #results  #{button1} - #{value1} | #{button2} - #{value2}
