-
  const { APPINSIGHTS_INSTRUMENTATIONKEY, ELASTIC_APM_SERVER_CLIENT_URL } = config
  const pageLoadTraceId = elasticApm.transaction && elasticApm.transaction.traceId
  const pageLoadSpanId = elasticApm.transaction && elasticApm.transaction.ensureParentId()
  const pageLoadSampled = elasticApm.transaction && elasticApm.transaction.sampled

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
  body
    block content
    script(src='https://unpkg.com/@elastic/apm-rum@5.1.1/dist/bundles/elastic-apm-rum.umd.min.js' crossorigin)
    script(type='text/javascript').
      function send(form){}
      // ===== Application Insights ======
      if ("#{APPINSIGHTS_INSTRUMENTATIONKEY}") {
        var appInsights=window.appInsights||function(config){
        function i(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s="AuthenticatedUserContext",h="start",c="stop",l="Track",a=l+"Event",v=l+"Page",y=u.createElement(o),r,f;y.src=config.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js";u.getElementsByTagName(o)[0].parentNode.appendChild(y);try{t.cookie=u.cookie}catch(p){}for(t.queue=[],t.version="1.0",r=["Event","Exception","Metric","PageView","Trace","Dependency"];r.length;)i("track"+r.pop());return i("set"+s),i("clear"+s),i(h+a),i(c+a),i(h+v),i(c+v),i("flush"),config.disableExceptionTracking||(r="onerror",i("_"+r),f=e[r],e[r]=function(config,i,u,e,o){var s=f&&f(config,i,u,e,o);return s!==!0&&t["_"+r](config,i,u,e,o),s}),t
        }({
            instrumentationKey: "#{APPINSIGHTS_INSTRUMENTATIONKEY}"
        });
        window.appInsights=appInsights;
        appInsights.trackPageView();
      }
      // ========= Elastic Apm ==========
      if ("#{ELASTIC_APM_SERVER_CLIENT_URL}") {
        ;(function(d, s, c) {
          var j = d.createElement(s),
              t = d.getElementsByTagName(s)[0]
          j.src = 'https://unpkg.com/@elastic/apm-rum@5.1.1/dist/bundles/elastic-apm-rum.umd.min.js'
          j.onload = function() {elasticApm.init(c)}
          t.parentNode.insertBefore(j, t)
        })(document, 'script', {serviceName: 'vote-app', serverUrl: "#{ELASTIC_APM_SERVER_CLIENT_URL}"})
      }

